<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <a href="/">
                    <img src="/static/img/logo-light.png" />
                </a>

                <div class="mt-5">
                    <h3>Stay Connected</h3>

                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <img src="/static/img/twitter.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <img src="/static/img/facebook.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <img src="/static/img/instagram.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <img src="/static/img/linkedin.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <h4>Our Address</h4>
                <p>
                    <span>Lexicon MILE</span> Lexicon Group Of Institutes, GAT no 726, Nagar Rd, Wagholi, Pune, Maharashtra 412207
                </p>
                <p>
                    <strong>Phn:</strong> 097175 36537
                </p>
            </div>
        </div>
    </div>

    <p>© 2022 Lexicon. All Right Reserved</p>
</footer>

<a href="#" class="floating-button">Download Brochure</a>


<%- include('Script') %>