<!-- <header id="navbar" class="header">
    <div class="container">
        <a href="/">
            <img src="/static/img/logo.png" />
        </a>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Patrons</a></li>
            <li><a href="#">Events and Gallery</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">Our Associations</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </div>
</header> -->

<nav id="navbar" class="navbar navbar-expand-lg bg-white sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/static/img/logo.png" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    About Us
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/about">About Us</a></li>
                    <li><a class="dropdown-item" href="/vision-and-mission">Vision & Mission</a></li>
                    <li><a class="dropdown-item" href="#">Our Group Companies</a></li>
                </ul>
            </li>
      
            <li class="nav-item">
                <a class="nav-link" href="#">Our Patrons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gallery">Events and Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/membership">Membership</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Our Associations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>