<%- include('partials/Header') %> 
<%- include('partials/Nav') %>

<div class="secondary-banner">
    <div class="container">
        <p>
            <span>Educate</span>
            <span>Enable</span>
            <span>Empower</span>
            <span>Excel</span>
        </p>
    </div>
</div>

<section class="py-5">
    <div class="container">
        <div class="common-section">
            <h3>About Us</h3>
            <ul class="mb-5">
                <li>
                    The objective of the Lexicon Centre of MSME Excellence is to work closely and strategically with Micro, Small & Medium Enterprises (MSME). 
                </li>
                <li>
                    The Lexicon MSME Centre aims to be an enabler for better & conscious decisions using research, converting those decisions into actionable & measurable inputs, and thus deliver sustenance
                </li>
            </ul>
            <p>
                And in the process becoming a leading sustainable and profit generating Centre for enabling MSME Excellence.
            </p>
        </div>

        <div class="common-section">
            <h3>Our Associations</h3>
            <ul class="gallery-secondary">
                <li>
                    <img src="/static/img/association/1.png" />
                </li>
                <li>
                    <img src="/static/img/association/2.png" />
                </li>
                <li>
                    <img src="/static/img/association/3.png" />
                </li>
                <li>
                    <img src="/static/img/association/4.png" />
                </li>
                <li>
                    <img src="/static/img/association/5.png" />
                </li>
                <li>
                    <img src="/static/img/association/6.png" />
                </li>
                <li>
                    <img src="/static/img/association/7.png" />
                </li>
                <li>
                    <img src="/static/img/association/8.png" />
                </li>
                <li>
                    <img src="/static/img/association/9.png" />
                </li>
                <li>
                    <img src="/static/img/association/10.png" />
                </li>
                <li>
                    <img src="/static/img/association/11.png" />
                </li>
                <li>
                    <img src="/static/img/association/12.png" />
                </li>
                <li>
                    <img src="/static/img/association/13.png" />
                </li>
                <li>
                    <img src="/static/img/association/14.png" />
                </li>
            </ul>
        </div>

        <div class="common-section">
            <h3>Services</h3>
            <p>
                At Lexicon Centre of MSME Excellence, we offer a range of services and resources designed to support MSMEs at every stage of their business journey. These include:
            </p>

            <ul class="services">
                <li>
                    <img src="/static/img/service/1.png" />
                    Diagnostic Study
                </li>
                <li>
                    <img src="/static/img/service/2.png" />
                    Mentorship Programmes
                </li>
                <li>
                    <img src="/static/img/service/3.png" />
                    Training Programmes
                </li>
                <li>
                    <img src="/static/img/service/4.png" />
                    Entrepreneurship Development Programmes (EDPs)
                </li>
                <li>
                    <img src="/static/img/service/5.png" />
                    Networking Events
                </li>
                <li>
                    <img src="/static/img/service/6.png" />
                    Understanding of various government schemes on MSMEs
                </li>
                <li>
                    <img src="/static/img/service/7.png" />
                    Consultancy Projects
                </li>
                <li>
                    <img src="/static/img/service/8.png" />
                    Succession Planning Programmes
                </li>
                <li>
                    <img src="/static/img/service/9.png" />
                    Intellectual Property Rights Programmes
                </li>
                <li>
                    <img src="/static/img/service/10.png" />
                    Awards for outstanding MSMEs
                </li>
                <li>
                    <img src="/static/img/service/11.png" />
                    Upskilling workforce for MSMEs
                </li>
                <li>
                    <img src="/static/img/service/12.png" />
                    Certification Programmes
                </li>
                <li>
                    <img src="/static/img/service/13.png" />
                    Design Thinking for MSMEs
                </li>
                <li>
                    <img src="/static/img/service/14.png" />
                    Project Management for MSMEs
                </li>
                <li>
                    <img src="/static/img/service/15.png" />
                    Understanding Finances MSME Control
                </li>
                <li>
                    <img src="/static/img/service/16.png" />
                    Digital Marketing for MSMEs
                </li>
            </ul>
        </div>

        <div class="common-section">
            <h3>Our Group Companies</h3>
            <ul class="gallery-secondary">
                <li>
                    <img src="/static/img/company/1.png" />
                </li>
                <li>
                    <img src="/static/img/company/2.png" />
                </li>
                <li>
                    <img src="/static/img/company/3.png" />
                </li>
                <li>
                    <img src="/static/img/company/4.png" />
                </li>
                <li>
                    <img src="/static/img/company/5.png" />
                </li>
                <li>
                    <img src="/static/img/company/6.png" />
                </li>
                <li>
                    <img src="/static/img/company/7.png" />
                </li>
                <li>
                    <img src="/static/img/company/8.png" />
                </li>
                <li>
                    <img src="/static/img/company/9.png" />
                </li>
                <li>
                    <img src="/static/img/company/10.png" />
                </li>
                <li>
                    <img src="/static/img/company/11.png" />
                </li>
                <li>
                    <img src="/static/img/company/12.png" />
                </li>
                <li class="ms-auto">
                    <img src="/static/img/company/13.png" />
                </li>
                <li class="me-auto">
                    <img src="/static/img/company/14.png" />
                </li>
            </ul>
        </div>
    </div>
</section>

<%- include('partials/Footer') %>