<%- include('partials/Header') %> 
<%- include('partials/Nav') %>
<%- include('partials/Banner', { title: 'Membership' }) %>

<section class="py-5">
    <div class="container">
        <div class="common-section">
            <p>
                The Lexicon Centre of MSME Excellence offers business membership to companies in the Micro, Small, and Medium Enterprises (MSME) sector. As a member, companies will have access to a wide range of benefits that are designed to help them grow and succeed.
            </p>

            <p>
                One of the main benefits of business membership is access to training and development opportunities. The Lexicon Centre of MSME Excellence offers a variety of workshops, seminars, and other training programs that can help companies improve their skills and knowledge in areas such as marketing, finance, operations, and management.
            </p>

            <p>
                In addition to these benefits, members will also have access to a range of other resources and services which are mentioned below:
            </p>
        </div>

        <div class="common-section">
            <h3>Benefits</h3>

            <ul>
                <li>Government E-Marketplace Portal Registration</li>
                <li>Lexicon MSME Award Eligibility</li>
                <li>Access to Knowledge Sharing Sessions (Worth ₹10,000)</li>
                <li>Three Month Membership of Easyrecruit+ Tools (ATT & INTANA) - Worth ₹15,000</li>
                <li>Orientation Program for Employees (Worth ₹10,000) 2 Hrs.</li>
                <li>Comprehensive Industrial Diagnostic (CID) Study (Worth ₹25,000) 1 Location</li>
                <li>Corporate Video (Worth ₹25,000) Maximum 2 Hrs. Shoot & Video Size 3 - 4 Mins.</li>
                <li>Access to Lexicon MILE Classroom</li>
                <li>Access to Lexicon MILE Auditorium with 200 Capacity</li>
            </ul>
        </div>
    </div>
</section>

<%- include('partials/Footer') %>