<%- include('partials/Header') %> 
<%- include('partials/Nav') %>
<%- include('partials/Banner', { title: 'Our Services' }) %>

<section class="py-5">
    <div class="container">
        <div class="common-section">
            <p>
                At Lexicon Centre of MSME Excellence, we offer a range of services and resources designed to support MSMEs at every stage of their business journey. These include:
            </p>
        </div>

        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Diagnostic-Study.png" />
                </div>
                <span>Diagnostic Study</span>
            </div>
            <p>Through the Diagnostic Study LCME checks the Health of the Company in terms of Strategy, HR, Operations, Finance , Marketing , Process, Quality Control, Purchase and other business parameters . Diagnoses upto 50 parameters with score giving a summary of strengths and weaknesses and areas of improvements for the Company in the different departments and disciplines for the MSMEs to act upon either themselves or with the help and support of LCME. LCME  also works out a Corporate Video for the MSMEs.</p>
        </div>


        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Mentorship-Programmes.png" />
                </div>
                <span>Mentorship Programmes</span>
            </div>
            <p>For Micro Enterprise owners and staff of MSMEs, LCME does the Mentoring for a defined duration, which is normally One year. The mentoring is done by a Business Expert who is veteran in the domain and business. The objective is to Mentor the Owners to enable them to take informed decision, act and implement using research methodologies and create a profitable and sustainable Organization.</p>
        </div>


        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Training-Programmes.png" />
                </div>
                <span>Training Programmes</span>
            </div>
            <p>LCME conducts regular training programs for the benefit of MSME owners. The programs are designed as small capsules, workshops, speaker sessions, discussion meetings on various aspects of business, majorly on the areas of Strategy, Finance, HR etc. These programs are normally conducted  for a group of 25 owners and executives, to enable and empower them. In near future LCME is also coming out with Training Programs on different topics for Corporates with SMEs conducting the programs as workshop.</p>
        </div>


        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Diagnostic-Study.png" />
                </div>
                <span>Entrepreneurship Development Programmes (EDPs)</span>
            </div>
            <p>
                LCME conducts  regular training programs for the benefit of MSME owners. The programs are designed as small capsules, workshops, speaker sessions, discussion meetings on various aspects of business, majorly on the areas of Strategy, Finance, HR etc. These programs are normally conducted  for a group of 25 owners and executives, to enable and empower them. In near future LCME is also coming out with Training Programs on different topics for Corporates with SMEs conducting the programs as workshop.
            </p>
        </div>


        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Diagnostic-Study.png" />
                </div>
                <span>Understanding of various government schemes on MSMEs</span>
            </div>
            <p>
                Despite so much of focus of Government of India on MSMEs, and various schemes launched by Govt for the benefit and betterment of MSME for financial assistance, compliances, Government E Portal, knowledge transfer etc , the awareness at the entrepreneur level is still very low. LCME conducts various training sessions to make them aware and take advantage of various schemes .
            </p>
        </div>


        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Diagnostic-Study.png" />
                </div>
                <span>Consultancy Projects</span>
            </div>
            <p>
                Basis the Diagnostic Study conducted, LCME prepares a comprehensive report on different aspects of conducting business, clearly identifying the areas of optimum strengths and areas of improvement and shares a proposal with the MSME promoters for working together with them for a duration of minimum one year, extendable by mutual consent with clearly defined objectives. The SMEs/ Consultants of LCME works with the Entrepreneur and their staff  for the Business Transformation, in the areas decided and defined. External audits are conducted to check the progress. The objective of the Consultancy is to transform the Company from a person driven toa Process driven entity.
            </p>
        </div>


        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Diagnostic-Study.png" />
                </div>
                <span>Succession Planning Programmes</span>
            </div>
            <p>It’s a common scenario in the Indian MSME landscape that the first generation entrepreneur works  hard to create a company and  run it. However the next generation is somewhat lukewarm to the idea of continuing with the company as an owner. Most first generation owners do not know what and how to do, in a such a scenario. LCME works with the owner to devise and implement the Succession Planning so that the company thrives even after the owners decide to retire or leave the actual running of the business.</p>
        </div>


        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Diagnostic-Study.png" />
                </div>
                <span>Intellectual Property Rights Programmes</span>
            </div>
            <p>IPRs are the  barometer of R&D activities, encourages technology transfer, national / foreign direct investments & helps in technological / industrial development. However it was observed that, filing of IP applications in the country are not increasing at higher rate despite significant contribution towards R&D by various Institutes, Scientist and R&D organizations, teachers, student etc. LCME works towards educating and propagating the IPR amongst MSMEs.</p>
        </div>

        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Diagnostic-Study.png" />
                </div>
                <span>Awards for outstanding MSMEs</span>
            </div>
            <p>Working very closely with MSMEs, the Lexicon Centre of MSME  Excellence along with its partner companies recognizes the good work done by the MSMEs  through  Award Functions , which are held department wise and sector wise. This is aimed at not only recognizing the good work done , but also provides a platform for networking activities and collaboration.</p>
        </div>


        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Diagnostic-Study.png" />
                </div>
                <span>Upskilling workforce for MSMEs</span>
            </div>
            <p>One of the major focus of LCME is upskilling of the workforce and their alignment to the Entrepreneurs dreams and objective. These upskilling programs are a part of Consulting assignments  and  are  also done independently as per the need of the Company. The upskilling is specifically done  not just as a Gyan session  but  actual work and support on the shop floor. It is ‘Show and Tell’ for enabling and empowering the work force with the required knowledge, skill and attitude.</p>
        </div>


        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Diagnostic-Study.png" />
                </div>
                <span>Design Thinking for MSMEs</span>
            </div>
            <p>LCME promotes Design Thinking in the MSMEs which is a user-centric process of finding solutions by observing and empathizing with stakeholders’ needs. Instead of focusing solely on the challenge itself, design thinking considers who is impacted and concentrates on resolving the issues created by the challenge. This is particularly very important for MSMEs as they are producing majorly for the big manufacturers or OEMs.</p>
        </div>



        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Diagnostic-Study.png" />
                </div>
                <span>Understanding Finances MSME Control</span>
            </div>
            <p>Most MSME owners specially in the manufacturing sector are technically qualified or have learnt the technical aspects. However , Finance is a different ball game altogether, where they face first a mind block and then a road block in arranging finances, preferring to use their own money. The Govt and Banks have different schemes available, but because of lack of awareness, they miss out on it. LCME works with them in this area right from educating to executing support and compliances to make them profitably sustainable.</p>
        </div>



        <div class="common-section">
            <div class="wrap">
                <div class="icon">
                    <img src="/static/img/Diagnostic-Study.png" />
                </div>
                <span>Digital Marketing for MSMEs</span>
            </div>
            <p>The importance of Digital Marketing in todays business world  can not be underated.  IT can help the MSMEs spread their product and brand awareness, reach new audience, increasing revenue and more. Unfortunately, most of the MSMEs are not equipped to deliver them the benefits of Digital Marketing.  LCME work with them to work out strategies and tools to target the audience online, driving traffic and enquiries and thus incremental revenues.</p>
        </div>
    </div>
</section>

<%- include('partials/Footer') %>