<%- include('partials/Header') %> 
<%- include('partials/Nav') %>
<%- include('partials/Banner', { title: 'Vision and Mission' }) %>

<section class="py-5">
    <div class="container">
        <div class="common-section">
            <h3>Vision</h3>
            <p>
                LCME is empowering MSMEs to achieve sustainable growth through training and process enhancement so as to  compete globally and contribute in Nation Building.
            </p>
        </div>

        <div class="common-section">
            <h3>Mission</h3>
            <p>
                The Lexicon Centre of MSME Excellence is committed to be a leading Centre of Excellence, which is respected, sought after, sustainable and profit generating by  providing MSMEs with the necessary tools and resources to achieve their full potential and creating value.
            </p>

            <p>Our mission is to:</p>

            <ul>
                <li>
                    Partner with MSMEs and enable them to achieve growth and success by providing actionable insights, consultancy, and executing sustainable action points.
                </li>

                <li>
                    Promote the MSME sector on an international platform, positioning them as a key contributor to the Indian economy and promoting self-reliance and self-sufficiency.
                </li>

                <li>
                    To use creative and critical thinking skills of young leaders to optimize financial results and positively impact industry-aligned professionals for organizational culture.
                </li>

                <li>
                    Focus on turnaround strategies, reduction in operating costs, people efficiency, process upgradation, marketing & branding, to help MSMEs find hidden competencies and increase competitiveness.
                </li>

                <li>
                    Building long-term relationships with our clients and providing them with customized solutions that are aligned with their business objectives. Our ultimate goal is to help MSMEs excel and win in the competitive market, contributing to the overall growth of the nation.
                </li>
            </ul>
        </div>
    </div>
</section>

<%- include('partials/Footer') %>